body{
	background-image: url(imagens/fundo2.jpg);
	background-size: cover;
}

.logo{
	background: url(imagens/logo2.png) no-repeat  ;
	background-size:auto 100%;
	width: 100px;
	height: 70px;
	text-indent: -9999px;
	color: transparent;
	margin: 10px;
}

nav{
	background-color: rgba(0,0,0,0.5);
	margin: 0;
}


nav ul li a{
	color: white;
}

nav ul li a:hover{
	color:black;
	background-color: white;
}

.btn-outline-success{
	color: white;
	border-color: white;
}

.carousel-control-prev-icon{
	width: 100px;
}

.carousel-item img{
	height: 380px;
	width: 100%;
}

.carousel-control-prev-icon{
	background-color: black;
	width: 40px;
}

.carousel-control-next-icon{
	background-color: black;
	width: 40px;
}

.produtos{
	border-right: 1px solid black;
	width:150px;
	height: 150px;
	margin-left: 20px;
}

.produtos img{
	width: 120px;
	height: 120px;
	display: block;
	margin:auto;
}

.produtos figcaption{
	text-align: center;
	color: red;
}

#titulo{
	text-align: center;
}

.trans{
	background:linear-gradient(60deg,white,green);

}

footer{
	background-color:rgba(0,0,0,0.8);
}

footer h4{
	display: inline-block;
	color: white;
}

.redes{
	display: inline-block;
	margin:10px 0;
	padding: 0;
}

#direitos{
	background-color: black;
	margin: 0;
	text-align: center;
	font-size: 12px;
	color: white;
	
}




